// colors
$grey: #B9B9B9;
$lightgrey: #EEEEEE;
$white: #FFFFFF;
$green: #C8D300;
$orange: #FDB813;
$black: #000000;
// elements
$text: #5E5E5E;
$h1: $green;
$h2: $black;
// notifications
$error-bg: #FFBABA;
$error: #D8000C;
$warning-bg: #FEEFB3;
$warning: #9F6000;
$success-bg: #DFF2BF;
$success: #4F8A10;
$info-bg: #BDE5F8;
$info: #00529B;
