{{#bread-crumbs}}{{/bread-crumbs}}

<div class="box">
  <h1>Samangroep rekenmodel</h1>
</div>
<div class="box box-grey box-models">
  <h2>Kies een rekenmodel</h2>
  <div class="tiles">
  	{{#tile-view icon="suitcase" link="business.model" label="zakelijk"}}{{/tile-view}}
  </div>
</div>

