.form-group {
  clear: both;
  padding-top: 5px;
  input,
  select,
  label {
    @include columns(2, 2%);
  }
  input,
  select {
    border-radius: 2px;
    padding: 3px 0 3px 3px;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    margin: -1px;
    outline: none;
  }
  input:focus,
  select:focus {
    box-shadow: 0 0 5px $green;
    border: 1px solid $green;
  }
}

.form-group.required label:after {
  content: " *";
  color: red;
  display: inline;
}
