<form {{action "submit" on="submit"}}>

	<div class="box">
		<h1>{{header}}</h1>
	</div>

	<div class="box box-grey">
    <div class="box-form">
      {{yield}}
      {{spin-button type='submit' action='submit' isLoading=isLoading class='btn btn-primary' text=buttonLabel}}
    </div>
	</div>

</form>
