{{#link-to 'index'}}
  <img class="logo" src="https://saman.christian.surf/assets/images/samangroep.png" alt="Logo Samangroep" />
{{/link-to}}

{{outlet}}

<div class="notifications">
  {{#each notifications as |notification|}}
    <div class={{notification.type}}>
      <p class="notification">
        {{notification.message}}
        <span class="fa fa-times close-notification" {{action 'deleteNotification' notification.id}}></span>
      </p>
    </div>
  {{/each}}
</div>