<div class="breadcrumbs-bar">
  <ul class="breadcrumbs">
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    {{#if (not-eq currentPath "index")}}
      {{#each breadCrumbs as |breadCrumb|}}
        <li class="chevron">></li>
        {{#if breadCrumb.route}}
          <li>{{#link-to breadCrumb.route}}{{breadCrumb.label}}{{/link-to}}</li>
        {{else}}
          <li>{{breadCrumb.label}}</li>
        {{/if}}
      {{/each}}
    {{/if}}
  </ul>
</div>
