
<div class="container">
	<form {{action 'updateUser' on="submit"}}>
		<h1>Saman Zakelijk Rekenmodel 2015</h1>
		{{form-field label="Name" value=name type="text"}}
    <button class="btn btn-primary btn-block" type="submit">Save</button>
	</form>
</div>